<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            &copy; 2020 Osiris Consultants Ltd.
            <span sec:authorize="isAuthenticated()">  |
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Sign Out"/>
                </form>
            </span>

            <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
                    type="text/javascript"></script>

        </footer>
    </div>

</div>
</body>
</html>